<div class="print-history">
    {% for print in prints %}
    <div class="card mb-3" id="print_{{ print['id'] }}">
        <!-- Print Header -->
        <div class="card-header d-flex justify-content-between align-items-center">
            <strong>Print ID:</strong> {{ print['id'] }}
        </div>

        <!-- Print Body -->
        <div class="card-body print-grid">
            <div class="printinfo">
                <div class="card-body">
                    <div class="row">
                      <div class="col-8 mb-3">
                        <div class="label-print-value">
                          <span class="label-print-inline fw-bold">Date: </span>
                          <div class="text-nowrap">{{ print['print_date'] }}</div>
                        </div>
                      </div>

                      <div class="col-4 mb-3">
                        <div class="label-print-value">
                          <span class="label-print-inline fw-bold">Type: </span>
                          <div>{{ print['print_type'] }}</div>
                        </div>
                      </div>

                      <div class="col-8 mb-3">
  <div class="label-print-value">
    <span class="label-print-inline fw-bold">File: </span>
    <form action="{{ url_for('edit_print_name') }}" method="post" class="d-flex gap-2">
      <input type="hidden" name="print_id" value="{{ print.id }}">
      <input type="text" name="file_name" class="form-control form-control-sm" value="{{ print.file_name }}">
      <button type="submit" class="btn btn-sm btn-success">Save</button>
    </form>
  </div>
</div>

                      <div class="col-4 mb-3">
                        <div class="label-print-value">
                          <span class="label-print-inline fw-bold">Duration: </span>
                          <div>{{ '%.2f' | format(print['duration']) }}h</div>
                        </div>
                      </div>

                      {% if print['total_cost'] > 0 %}
                      <div class="col-4 mb-3">
                        <div class="label-print-value">
                          <span class="label-print-inline fw-bold">Filament Cost: </span>
                          <div>{{ '%.2f' | format(print['total_cost']) }} {{ currencysymbol }}</div>
                        </div>
                      </div>
                      {% endif %}

                      {% if print['electric_cost'] > 0 %}
                      <div class="col-4 mb-3">
                        <div class="label-print-value">
                          <span class="label-print-inline fw-bold">Electric Cost: </span>
                          <div>{{ '%.2f' | format(print['electric_cost']) }} {{ currencysymbol }}</div>
                        </div>
                      </div>
                      {% endif %}

                      {% if print['full_cost'] > 0 %}
                      <div class="col-4 mb-3">
                        <div class="label-print-value">
                          <span class="label-print-inline fw-bold">Full Cost: </span>
                          <div>{{ '%.2f' | format(print['full_cost']) }} {{ currencysymbol }}</div>
                        </div>
                      </div>
                      {% endif %}
                    </div>
                  </div>

                <div class="card">
                    <div class="card-body filament-container">
                        {% for filament in print["filament_usage"] %}
                        <div class="card mb-2">
                            <div class="card-body">
                                {% if filament['spool'] %}
                                    <a href="{{ url_for('spool_info', spool_id=filament['spool'].id) }}" class="nav-link">
                                        <div class="filament-info d-flex">
                                            <div class="spool-icon">
                                                {% if filament['spool'].filament.multi_color_hexes %}
                                                    {% for color in filament['spool'].filament.multi_color_hexes %}
                                                        <div style="background-color:#{{ color }}; width:10px; height:20px; display:inline-block;"></div>
                                                    {% endfor %}
                                                {% else %}
                                                    <span class="badge d-inline-block" style="background-color: #{{ filament['spool'].filament.color_hex }}; width: 20px; height: 50px;"></span>
                                                {% endif %}
                                            </div>
                                            <div class="spool-details ms-2">
                                                <h6>#{{ filament['spool'].id }} - {{ filament['spool'].filament.vendor.name }} - {{ filament['spool'].filament.material }}</h6>
                                                <small>{{ filament['spool'].filament.name }} - {{ filament['grams_used'] }}g - {{ '%.2f' | format(filament['cost']|float) }} {{ currencysymbol }}</small>
                                            </div>
                                        </div>
                                    </a>
                                {% else %}
                                    <a href="{{ url_for('print_select_spool', ams_slot=filament['ams_slot'], print_id=print['id']) }}" class="nav-link" title="Assign Spool">
                                        <div class="filament-info d-flex">
                                            <div class="spool-icon">
                                                <div style="background-color: {{ filament['color'] }}; width:10px; height:20px;"></div>
                                            </div>
                                            <div class="spool-details ms-2">
                                                <h6>No spool assigned - {{ filament['filament_type'] }}</h6>
                                                <small>{{ filament['grams_used'] }}g</small>
                                            </div>
                                        </div>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="card print-image">
                <div class="card-body d-flex justify-content-center align-items-center">
                    {% if print['image_file'] %}
                        <img src="{{ url_for('static', filename='prints/' ~ print['image_file']) }}" alt="Print Image" class="img-fluid">
                    {% else %}
                        <span class="text-muted">No Image</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>