{% macro render_filtered_args(args, exclude=[]) %}
  {% for k, vlist in args.items() if k not in exclude %}
    {% for v in vlist %}
      <input type="hidden" name="{{ k }}" value="{{ v }}">
    {% endfor %}
  {% endfor %}
{% endmacro %}