{% macro render_hidden_args(args) %}
  {% for k, vlist in args.items() %}
    {% set values = vlist if vlist is iterable and vlist is not string else [vlist] %}
    {% for v in values %}
      <input type="hidden" name="{{ k }}" value="{{ v }}">
    {% endfor %}
  {% endfor %}
{% endmacro %}