{% extends 'base.html' %}


{% block content %}
<div class="d-flex align-items-center justify-content-between mb-3">
<h4 class="mb-0">Détail impression #{{ print.id }}</h4>
<div>
{% set back = request.args.get('return_to') %}
<a href="{{ back if back else url_for('print_history') }}" class="btn btn-sm btn-outline-secondary">← Retour à l’historique</a>
</div>
</div>


{% set card_mode = 'detail' %}
{% include 'fragments/print_card.html' %}


{% endblock %}


{% block scripts %}
<script src="{{ asset_url('js/print_history.js') }}"></script>
{% endblock %}